<!DOCTYPE html>
<html>
    <head>
        <title><%=typeof title == 'undefined' ? 'Job-it' : title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="/styles/materialize.css" media="screen"/>
        <link type="text/css" rel="stylesheet" href="/styles/overrides.css" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <ul id="slide-out" class="side-nav fixed">
                <li><a href="#!/jobs" class="waves-effect"><i class="material-icons">work</i>Jobs</a></li>
            </ul>
        </header>
        <main ng-app="jobit">
            <div class="container" style="min-height: 500px;">
                <div class="row">
                    <%- body %>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Jobit - Think.it, All rights reserved.
                    <a class="grey-text text-lighten-4 right" href="#">No License yet</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendors/materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/js/app/utils/toast.js"></script>
        <script type="text/javascript" src="/js/app/jobit/main.js"></script>
        <script type="text/javascript" src="/js/app/jobit/controller.js"></script>
        <script type="text/javascript" src="/js/app/jobit/service.js"></script>
    </body>
</html>