ng-cloak {
    display: none !important;
}
#search:focus{
    z-index: 1;
    position: relative;
}
.search-field .material-icons{
    z-index: 1;
}
.order-field {
    position: absolute;
    min-width: 180px;
    top: 0;
    right: 50px;
    text-align: right;
}
.collapsible-header, .full {
    width: 100%;
}
.card.horizontal .card-image img {
    width: 192px !important;
}